@mixin mainTitle_font{
    //80px
    font-size: 5rem;    
    font-weight: 700;    
    line-height: 130%;
}
@mixin subTitle_font{
    //40px
    font-size: 2.5rem;    
    font-weight: 700;    
}
@mixin titleHistory_font{
    //28px
    font-size: 1.75rem;        
    font-weight: 700;    
    line-height: 150%;    
}
@mixin mainPage_font{
    //20px
    font-size: 1.25rem;        
    line-height: 150%;
}
@mixin profile_font{
    //18px
    font-size: 1.125rem;             
    line-height: 150%;
}
@mixin subHistory_font{
    //16px
    font-size: 1rem;                
    line-height: 150%;    
}
@mixin projectTime_font{
    //14px
    font-size: 0.875rem;                
    line-height: 150%;    
}